// .opsi-formulir-input-kode
//   ::after
//     content: ">"

.editor
  margin-top: 50px
  // padding: 0 100px

.editor-kode
  margin-top: 30px

.box
  background-color: $white
  height: auto
  min-width: 500px
  border-radius: 30px !important

#input-kode
  border-radius: 20px !important
  min-height: 300px !important
  max-height: 500px !important

.opsi-formulir-input-kode,
.tampilan-kode
  width: 100%
  max-width: 500px

.tampilan-kode
  min-height: 300px !important
  max-height: 500px !important

