@import "variables"
@import "landing"
@import "listKode"
@import "editorKode"

p, h1, h2, h3, h4, h5, h6, label, .label
    font-family: 'Poppins', sans-serif !important

label
    color: #ffffff !important

.margin-right
    margin-right: $margin

.margin-bottom
    margin-bottom: $margin

.flex-align-center
  align-items: center

.flex
  display: flex
  flex-wrap: wrap