/* button[disabled] {
  color: rgba(26, 32, 44, .3);
  border: 1px solid rgba(26, 32, 44, .3);
  cursor: default;
} */

/* .margin-bottom {
  margin-bottom: 20px;
} */

.margin-left {
  margin-left: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}